<div class="container">
    <h1>frutas y verduras</h1>
    <p>Frutas y verduras products</p>

    <table class="table table-hover">
        <thead>
            <tr>
            <th>product_id</th>
            <th>product_name</th>
            <th>product_trademark</th>
            <th>product_price</th>
            <th>product_type</th>
            <th>product_stock</th>
            <th>add to cart</th>
            <th>edit</th>
            <th>delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
            <td>{{item.product_id}}</td>
            <td><a [routerLink]="['/user-interface/view', item.product_id]">{{item.product_name}}</a></td>
            <td>{{item.product_trademark}}</td>
            <td>{{item.product_price}}</td>
            <td>{{item.product_type}}</td>
            <td>{{item.product_stock}}</td>
            <td><a href="javascript:void(0);" (click)="deleteProduct(item.user_id, item.product_id)"><i class="bi bi-cart-plus"></i></a></td>
            <td><a [routerLink]="['/user-interface/frutas-y-verduras/edit/', item.product_id]"><i class="bi bi-pencil"></i></a></td>
            <td><a href="javascript:void(0);" (click)="deleteProduct(item.user_id, item.product_id)"><i class="bi bi-trash"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>