<h1>{{title}}</h1>
<ul>
  <li><a routerLink="/user-interface">Home</a></li>
  <li><a routerLink="/user-interface/aseo-y-limpieza">Aseo y limpieza</a></li>
  <li><a routerLink="/user-interface/bebidas">Bebidas</a></li>
  <li><a routerLink="/user-interface/carnes-y-embutidos">Carnes y embutidos</a></li>
  <li><a routerLink="/user-interface/dulces-y-snacks">Dulces y snacks</a></li>
  <li><a routerLink="/user-interface/frutas-y-verduras">Frutas y verduras</a></li>
  <li><a routerLink="/user-interface/utiles-escolares">Utiles escolares</a></li>
  <li><a routerLink="/user-interface/viveres">Viveres</a></li>
</ul>
<router-outlet></router-outlet>